@{
    Layout = "~/_Layout.cshtml";
}


<div class="jumbotron jumbotron-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h1">
                    Oscar Jiménez Rodríguez
                </h1>
                <img src="/Img/profile-150x150.png" alt="Texto Alternativo" class="img-circle img-thumbnail">
            </div>
        </div>
    </div>
</div>

<div class="badger-left badger-info" data-badger="Personal info">

</div> 
<div class="badger-left badger-info" data-badger="Professional profile">
    <p>Software engineer student with excellent time management and adaptation skills, very organized, responsible with an attention to detail. </p>
    <p>Organized and takes initiative to be a leader, very logical, precise and analytical, Able to work unsupervised or in a team environment. </p>
    <p>I am excited learn new technologies and languages in addition to continue with the learning of the already started. </p>

</div>
<div class="badger-left badger-info" data-badger="Strongest Technical Skills">
    <p><strong>Programming languages: </strong>C#, Java, Delphi, VB, HTML, JavaScript, PHP, ASPX.</p>
    <p><strong>Databases: </strong>MS SQLServer, Oracle, PostgreSQL, MySQL.</p>
    <p><strong>SDKs and Libraries: </strong>AndroidSDK.</p>
    <p><strong>Operating Systems: </strong>Windows, Linux.</p>
    <p><strong>Frameworks: </strong>.NET, CodeIgniter.</p>
    <p><strong>Content Management Systems: </strong>Joomla.</p>
</div>
<div class="badger-left badger-info" data-badger="Working Experience">

</div>
<div class="badger-left badger-info" data-badger="Education">

</div>