@{
    

    if (IsPost)
    {
        var name = Request["name"];
        var email = Request["email"];
        var subject = Request["subject"];
        var message = Request["message"];

        var body = "<h1> Hola Oscar.</h1> <h2>" + name + " quiere contactarte.</h2><p>Este es su mensaje: " + message + "</p> <p>Su correo es: "+email+"</p>";


        WebMail.SmtpServer = "smtp.gmail.com";

        WebMail.EnableSsl = true;

        WebMail.UserName = "osjrod@gmail.com";

        WebMail.Password = "jrodSmA8383";

        WebMail.From = "osjrod@gmail.com";

        WebMail.Send(to: "osjrod@outlook.com",
                             subject: subject,
                             body: body);

        Response.Redirect("/Contact?encor=true");

    }

    Response.Redirect("/Contact");
}
