@{
    if (IsPost)
    {
        var name = Request["name"];
        var email = Request["email"];
        var subject = Request["subject"];
        var message = Request["message"];

        var body = "<html> <h1> Notificacion de Contacto </h1> <p>Usted a recibido un mensaje de "+name+".</p><p>"+message+"</p> </html>";

        
        System.Net.Mail.MailMessage oMsg = new System.Net.Mail.MailMessage();
        oMsg.From = new System.Net.Mail.MailAddress("osjrod@gmail.com");
        oMsg.To.Add("osjrod@outlook.com");
        oMsg.Subject = subject;
        oMsg.Body = body;
        System.Net.Mail.SmtpClient smtp = new System.Net.Mail.SmtpClient("smtp.gmail.com");
        smtp.Credentials = new System.Net.NetworkCredential("osjrod@gmail.com",
        "jrodSmA8383");  
        smtp.EnableSsl = true;  
        smtp.Send(oMsg);
        
    }
}