@{
    
}
<footer>
    <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">MyResume</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/" title="">Designed by Oscar Jiménez</a></li>
            </ul>
        </div>
    </nav>
</footer>
