@{
    
}

<div id="header-wrap">
		<header class="group">
			<h2><a href="/" title="MyResume">MyResume</a></h2>
			<div id="proyecto">
				<h3>1° Proyecto</h3>
				<h4 class="green">Programación web 2</h4>
			</div><!-- end proyecto -->
			<nav class="group">
				<ul>
					<li class="home"><a href="/" title="">Home</a></li>
					<li><a href="contact.cshtml" title="">Contact</a></li>
					<li><a href="recommend.cshtml" title="">Recommend</a></li>
					<li class="last">
						<div>
							<input type="text" name="search" placeholder="search" />
							<input type="submit" name="search" value="go" class="search"/>
						</div>
					</li>
				</ul>
			</nav>
		</header>
	</div><!-- end header wrap -->


